.imm-form {
  font-family: sans-serif;
  text-align: center;
}

.imm-panel {
  border: 1px solid #646464;
  margin-bottom: 25px;
  padding: 20px 25px;
  font-size: 26px;
  border-radius: 5px;
  line-height: 1.1;
}

.imm-panel--result {
  display: none;
}

.imm-panel__result {
  font-size: 32px;
  color: #247ee5;
  text-align: center;
}

.imm-panel__title {
  margin-bottom: 15px;
}

.imm-panel__select {
  width: 100%;
  padding: 10px 15px;
  background-color: #247ee5;
  color: #ffffff;
  font-size: 20px;
  border: none;
  border-radius: 4px;
}

.imm-panel__option-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imm-panel__option-item {
  width: 160px;
}

.imm-panel__option-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.imm-panel__option-label {
  position: relative;
  display: block;
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 20px;
  color: #247ee5;
  font-weight: normal;
  cursor: pointer;
}

.imm-panel__option-radio:checked ~ .imm-panel__option-label {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.25);
}

.imm-panel__option-icon {
  display: block;
  margin: 0 auto 10px;
}

.imm-panel__option-info-icon {
  position: absolute;
  right: 0;
  top: 0;
  width: 25px;
  height: 20px;
  border-radius: 3px 3px 0 0;
  background-color: #247ee5;
  background-repeat: no-repeat;
  background-position: 50% 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 365.442 365.442' width='15' height='15' fill='%23fff'%3E%3Cpath d='M212.994 274.074h-68.522c-3.042 0-5.708 1.149-7.992 3.429-2.286 2.286-3.427 4.948-3.427 7.994v68.525c0 3.046 1.145 5.712 3.427 7.994 2.284 2.279 4.947 3.426 7.992 3.426h68.522c3.042 0 5.715-1.144 7.99-3.426 2.29-2.282 3.433-4.948 3.433-7.994v-68.525c0-3.046-1.14-5.708-3.433-7.994-2.275-2.286-4.948-3.429-7.99-3.429zM302.935 68.951c-7.806-14.378-17.891-26.506-30.266-36.406-12.367-9.896-26.271-17.799-41.685-23.697C215.567 2.952 200.246 0 185.016 0 127.157 0 83 25.315 52.544 75.946c-1.521 2.473-2.046 5.137-1.571 7.993.478 2.852 1.953 5.232 4.427 7.135l46.824 35.691c2.474 1.52 4.854 2.281 7.139 2.281 3.427 0 6.375-1.525 8.852-4.57 13.702-17.128 23.887-28.072 30.548-32.833 8.186-5.518 18.461-8.276 30.833-8.276 11.61 0 21.838 3.046 30.692 9.132 8.85 6.092 13.271 13.135 13.271 21.129 0 8.942-2.375 16.178-7.135 21.698-4.757 5.518-12.754 10.845-23.986 15.986-14.842 6.661-28.457 16.988-40.823 30.978-12.375 13.991-18.558 28.885-18.558 44.682v12.847c0 3.62.994 7.187 2.996 10.708 2 3.524 4.425 5.283 7.282 5.283h68.521c3.046 0 5.708-1.472 7.994-4.432 2.279-2.942 3.426-6.036 3.426-9.267 0-4.757 2.617-11.14 7.847-19.13 5.235-7.994 11.752-14.186 19.562-18.565 7.419-4.186 13.219-7.56 17.411-10.133 4.196-2.566 9.664-6.715 16.423-12.421 6.756-5.712 11.991-11.375 15.698-16.988 3.713-5.614 7.046-12.896 9.996-21.844 2.956-8.945 4.428-18.558 4.428-28.835-.002-15.798-3.907-30.881-11.706-45.244z'/%3E%3C/svg%3E");
}

.imm-panel__option-info-icon::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-style: solid;
  border-width: 10px 12.5px 0 12.5px;
  border-color: transparent;
  border-top-color: #247ee5;
}

.imm-panel__option-info-tooltip {
  position: absolute;
  width: 290px;
  left: calc(100% + 5px);
  top: -1px;
  color: #8a8a8a;
  font-size: 20px;
  text-align: left;
  padding: 10px 15px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  display: none;
}

.imm-panel__option-info-icon:hover ~ .imm-panel__option-info-tooltip {
  display: block;
}

.imm-panel__range {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 25px;
}

.imm-panel__hours-text-wrap {
  text-align: right;
}

.imm-panel__hours-text {
  background-color: #247ee5;
  color: #ffffff;
  text-align: center;
  height: 32px;
  width: 100%;
  max-width: 280px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.imm-form__submit {
  background-color: #f4580e;
  background-image: linear-gradient(to bottom, rgba(244,88,14,1) 0%, rgba(248,126,41,1) 100%);
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(248, 126, 41, 0.45);
  margin: 30px auto 0;
  display: block;
  cursor: pointer;
}

.red .imm-panel__select,
.red .imm-panel__option-info-icon,
.red .imm-panel__hours-text {
  background-color: crimson;
}

.red .imm-panel__option-label,
.red .imm-panel__result {
  color: crimson;
}

.red .imm-panel__option-info-icon::after {
  border-top-color: crimson;
}